.portfolioText {
	display: flex;
	width: 1530px;
	height: 868px;
	background-color: brown;
	flex-wrap: wrap;

	.portfolioTextItem {
		display: flex;
		flex-direction: column;
		// justify-content: space-around;
		width: 360px;
		height: 419px;
		background-color: green;
		margin: 10px;
	}

	.portfolioTextHeading {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
