.portfolioLinks {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-content: center;
	text-align: center;
	width: 83%;
	margin-bottom: 23px;

	.linksBtn {
		display: flex;
		width: 123%;
		color: #be9ff6;

		.linkBtns {
			display: inline-block;
			width: 100%;
      color: #784dc7;
      border: solid 1px #be9ff6;
      border-radius: 12px;
      margin-right: 5px;
      letter-spacing: 0.03rem;
      font-size: 0.729165vw;
      padding: 6px;
			& > button {
				display: inline-block;
				color: #784dc7;
				border: none;
				align-items: center;
				border: solid 1px #be9ff6;
				border-radius: 12px;
				text-align: center;
			}
		}
	}
}
