.aboutMeHeader {
	display: flex;
	width: 31.37%;
	height: 64px;
	font-family: "Anton", sans-serif;
	text-align: center;
	position: absolute;
	left: 100px;
	align-items: center;
	& > h1 {
		font-size: 3.333331vw;
		color: #ffffff;
		font-weight: 400;
		margin-right: 38px;
		white-space: nowrap;
	}
}
