.aboutMeHeader {
	display: flex;
	justify-content: space-between;
	width: 43%;
	font-family: "Anton", sans-serif;
	text-align: center;
	left: 3.8%;
	position: absolute;
	align-items: center;
	align-content: center;
	@media screen and (max-width: 1024px) {
		margin-bottom: 100px;
		top: -3%;
	}

	.zigZagHead {
		display: flex;
		width: 50%;
    @media  screen and (max-width:1024px) {
      letter-spacing: 0.1rem;
      text-wrap: wrap;
    }
		& > h1 {
      text-align: left;
      display: block;
			width: 100%;
			font-size: 4rem;
			color: #ffffff;
			font-weight: 400;
			white-space: nowrap;
			color: #ffffff;
		}
	}

	.zigZag {
		width: 50%;
		@media screen and (max-width: 1400px) {
			width: 100%;
			padding-left: 20px;
		}
		@media screen and (max-width: 1024px) {
			width: 40%;
			padding-left: 20px;
      background-color: red;
		}
		& > img {
			display: block;
			width: 100%;
			display: block;
		}
	}
}
