.layoutContainer {
	display: flex;
	justify-content: center;
	width: 100vw;
}

.layout {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1728px;
	min-height: 100vh;
  border: solid 5px red;
	// background-color: lightgray;
}
