:root {
  --background: #ffffff;
  /* --text-primary: #000;
  --text-secondary: #8e05c2;
  --accent: #8e05c2;
  --border: #333;
  --form-bg: #fff; */
}

[data-theme='dark'] {
  --background: #000;
  /* --text-primary: #fff;
  --text-secondary: #8e05c2;
  --accent: #8e05c2;
  --border: #808080;
  --form-bg: #191919; */
}


.layoutContainer {
	display: flex;
	justify-content: center;
	width: 100vw;
}

.layout {
  background-color: var(--background);
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1728px;
	min-height: 100vh;
}
