.wrapper {
	display: flex;
	justify-content: space-between;
	width: 1731px;
	height: 778px;
	background-color: #000000;

	.main {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 660px;
		height: 695px;
		margin: 60px 0px 0px 100px;

		.headings {
			display: flex;
			flex-direction: column;
			width: 660px;
			height: 481px;
			font-family: "Anton", sans-serif;

			.mainHeading,
			h1 {
				font-size: 200px;
				color: #fff;
				font-weight: 400;
				line-height: 180px;
			}
			.nameHead,
			h2 {
				display: inline-block;
				font-size: 114px;
				font-weight: 400;
				line-height: 114px;
				white-space: nowrap;
				margin: 18px 0px 70px 0px;
				background: linear-gradient(to right, #fa709a, #fee140);
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		.socialLinks {
			display: flex;
			justify-content: space-between;
			width: 660px;

			.socialIcon {
				width: 52px;
				height: 52px;
				border: solid #fff 1px;
				border-radius: 4px;
				text-align: center;
				align-content: center;
			}

			.imgIcons {
				display: inline-block;
				text-align: center;
				width: 40px;
				height: 40px;
				align-content: center;
			}
		}

		.cvDownload {
			display: flex;
			width: 660px;
			height: 52px;
			background-color: #292929;
			text-align: center;
			position: relative;
		}

		.cvIcon {
			display: inline-block;
			position: absolute;
			top: 18px;
			right: 180px;
		}

		.cvDownload,
		h4 {
			display: inline-block;
			font-family: "Lato", sans-serif;
			font-weight: 400;
			font-size: 20px;
			color: #fff;
			align-content: center;
		}
	}

	.portal {
		width: 160x;
		height: 160px;
		margin-right: 19px;
	}

	.vintageImg {
		margin-right: 95px;
	}
}
