.portfolio {
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	width: 100%;
	height: 968px;
	margin: 200px 0px 200px 0px;
	background-color: #000000;
	font-family: "Anton", sans-serif;
	position: relative;

	.portfolioHeading {
		display: inline-block;
		font-size: 3.333335vw;
		font-weight: 400;
		color: #ffffff;

		& > h1 {
			font-weight: 400;
			color: #ffffff;
		}
	}

	.portfolioWrapper {
		display: flex;
		flex-direction: column;
		width: 88.542%;
		height: 868px;
	}
}

// Media query for tablet
@media screen and (max-width: 1024px) {
	.portfolio {
		width: 100%;
		height: 100%;
	}
}
