.portfolio {
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	width: 1731px;
	height: 968px;
	margin-top: 200px;
	background-color: #000000;

	font-family: "Anton", sans-serif;
	position: relative;

	.portfolioHeading {
		display: inline-block;
		font-size: 64px;
		font-weight: 400;
		color: #ffffff;

		& > h1 {
			font-size: 64px;
			font-weight: 400;
			color: #ffffff;
		}
	}

	.portfolioWrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 1530px;
		height: 868px;
	}
}
