body {
	--bkg-color: #000000;
}

body.light-theme {
	--bkg-color: #ffffff;
}

body {
	background: var(--bkg-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	font-family: "Lato", sans-serif;
	width: 100%;
	height: 120px;
	color: white;
	padding: 0px 100px 0px 100px;
	margin-bottom: 60px;

	.logoMain {
		display: inline-block;
		& > img {
			width: 103.71%;
			height: 27px;
		}
	}

	.controlMode {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 13.679%;
		height: 40px;
		.switchLogo {
			display: inline-block;
			& > img {
				width: 100%;
				height: 32px;
			}
		}

		.btnNavbar {
			display: block;
			width: 63.64%;
			color: #ffff;
			height: 40px;
			background-color: #925ff0;
			border: none;
			border-radius: 3px;
			font-size: 0.833332vw;
		}
	}
}

// Media query for tablet
@media only screen and (max-width: 1024px) {
	.navbar {
		width: 100%;
		background-color: red;
		.logoMain {
			width: 8.544%;
		}

		.navbarItems {
			background-color: green;
		}

		.controlMode {
			width: 25.367%;
		}

		.controlMode {
			.btnNavbar {
				font-size: 1.5625vw;
				// background-color: yellow;
			}
		}
	}
}

// // Media query mobile
// @media screen and (max-width: 430px) {
// 	.navbar {
// 		background-color: purple;
// 	}
// }

//
// @media screen and (max-width: 1366px) {
// 	.container {
// 		background-color: yellow;
// 	}
// }

//
// @media screen and (max-width: 768px) {
// 	.container {
// 		background-color: blue;
// 	}
// }
// @media screen and (max-width: 480px) {
// 	.container {
// 		background-color: purple;
// 	}
// }
