// body {
// 	--bkg-color: #000000;
// }

// body.light-theme {
// 	--bkg-color: #ffffff;
// }

// body {
// 	background: var(--bkg-color);
// }

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	font-family: "Lato", sans-serif;
	width: 100%;
	height: 120px;
	color: white;
	margin-bottom: 60px;
	.logo {
		width: 15%;
		& > img {
			display: inline-block;
		}
	}

	.controlMode {
		display: flex;
		padding-left: 100px;
		align-items: center;
		width: 25%;
		.switchLogo {
			display: inline-block;
			& > img {
				width: 100%;
			}
		}

		.btnNavbar {
			display: block;
			width: 43%;
			height: 40px;
			color: #ffff;
			background-color: #925ff0;
			border: none;
			border-radius: 3px;
			font-size: 0.833332vw;
			margin-left: 10px;
		}
	}
}

// Media query for tablet
@media only screen and (max-width: 1024px) {
	.navbar {
		width: 100%;
		.logoMain {
			width: 8.544%;
		}

		.navbarItems {
			background-color: green;
		}

		.controlMode {
			width: 25.367%;
		}

		.controlMode {
			.btnNavbar {
				font-size: 1.5625vw;
				// background-color: yellow;
			}
		}
	}
}

// // Media query mobile
// @media screen and (max-width: 430px) {
// 	.navbar {
// 		background-color: purple;
// 	}
// }

//
// @media screen and (max-width: 1366px) {
// 	.container {
// 		background-color: yellow;
// 	}
// }

//
// @media screen and (max-width: 768px) {
// 	.container {
// 		background-color: blue;
// 	}
// }
// @media screen and (max-width: 480px) {
// 	.container {
// 		background-color: purple;
// 	}
// }
