.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1731px;
	height: 90px;
	// background-color: red;
	// padding-left: 100px;
	padding: 0px 100px 0px 100px;

	.footerWrapper {
		display: flex;
		justify-content: space-between;
		width: 1528px;
		align-items: center;
		height: 100%;
		// background-color: red;
	}

	.logoMain {
		width: 73px;
		height: 27px;
		// margin-left: 100px;
	}
}
