.workEfficiency {
	display: flex;
	justify-content: space-around;
	width: 1531px;
	height: 392px;
	border: solid #646464 1px;
	border-radius: 29px;
	background-color: #000;
	align-items: center;
	font-family: "Anton", sans-serif;
	align-items: center;
	margin: 153px 100px 0px 100px;

	.workStats_first {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 287px;
		height: 208px;
	}

	.workStats_second {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 387px;
		height: 208px;
	}

	.workStats_third {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 190px;
		height: 208px;
	}

	.headStats {
		display: block;
		font-family: "Anton", sans-serif;

		& > h1 {
			display: block;
			font-family: "Anton", sans-serif;
			font-size: 128px;
			font-weight: 400;
			color: #c8fec7;
		}
	}

	.statsParagraph {
		display: block;
		& > p {
			display: block;
		}
	}
}

// Media query for tablet
@media screen and (max-width: 1024px) {
	.workEfficiency {
		width: 864px;
		height: 287px;
		margin: 10px 80px 10px 80px;
		text-align: center;
		margin-top: 228px;

		.workStats_first {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 178px;
			height: 123px;
		}

		.workStats_second {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 216px;
			height: 123px;
		}

		.workStats_third {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 117px;
			height: 123px;
		}

		.headStats {
			display: block;
			font-family: "Anton", sans-serif;

			& > h1 {
				display: block;
				font-family: "Anton", sans-serif;
				font-size: 64px;
				font-weight: 400;
				color: #c8fec7;
			}
		}

		.statsParagraph {
			display: block;
			text-align: center;
			& > p {
				display: block;
				color: #c8fec7;
			}
		}

		.statsIcon {
			display: none;
		}
	}
}


