.navbarItems {
	display: flex;
	justify-content: space-between;
	font-family: "Lato", sans-serif;
	width: 360px;
	height: 20px;
	color: white;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.08rem;
	// padding-left: 100px;
}
