.navbarItems {
	display: flex;
	justify-content: space-between;
	font-family: "Lato", sans-serif;
	width: 22.5em;
	height: 20px;
	color: white;
	font-size: 1.25em;
	font-weight: 400;
	letter-spacing: 0.08rem;
}
