.navbarItems {
	display: flex;
	justify-content: center;
	font-family: "Lato", sans-serif;
	width: 60%;
	list-style: none;
	white-space: nowrap;
	color: white;
	font-size: 1.041665vw;
	font-weight: 400;
	letter-spacing: 0.08rem;
	& > li {
		white-space: no-wrap;
		padding: 10px;
	}
}

@media only screen and (max-width: 1024px) {
	.navbarItems {
		width: 100%;
		background-color: red;
		font-size: 1.953121vw;
	}
}
