.aboutMe {
	display: flex;
	justify-content: center;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	align-content: center;
	margin-top: 200px;
	position: relative;

	// @media screen and (max-width: 1024px) {
	// 	// background-color: red;
	// }
	.aboutMeContainer {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		width: 92%;
		.aboutMeDetails {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			.aboutMeParagraph {
				width: 50%;
				margin-top: 76px;
			}
			.aboutMeImage {
				width: 50%;
			}
		}
	}

	.reversed {
		display: flex;
		flex-direction: row-reverse;
		// align-items: center;
		align-content: center;
		justify-content: space-evenly;
		width: 100%;
		.aboutMeImage {
			width: 50%;
			// z-index: inherit;
			// max-width: 100%;
		}
		.aboutMeParagraph {
			width: 50%;
			// align-items: center;
			// text-align: center;
			// line-height: 1;
			// background-color: yellow;
		}
	}
}
