.aboutMe {
	display: flex;
	justify-content: center;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	align-content: center;
	margin-top: 200px;
	position: relative;

	// @media screen and (max-width: 1024px) {
	// 	// background-color: red;
	// }
	.aboutMeContainer {
		display: flex;
		flex-direction: column;
		width: 89%;
	}

	.aboutMeDetails {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		.aboutMeParagraph {
			width: 47%;
			margin-top: 76px;
		}
		.aboutMeImage {
			display: flex;
			width: 50%;
			& > img {
				width: 100%;
				display: block;
			}
		}
	}

	.reversed {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		.aboutMeImage {
			width: 50%;
			& > img {
				width: 100%;
			}
		}
		.aboutMeParagraph {
			width: 47%;
			line-height: 1;
		}
	}
}
