.aboutMe {
	display: flex;
	justify-content: center;
	width: 1731px;
	height: 5346px;
	font-family: "Montserrat", sans-serif;
	align-content: center;
	margin-top: 200px;
	position: relative;
	.aboutMeContainer {
		display: flex;
		flex-direction: column;
		// align-items: center;
		// align-content: center;
		width: 1541px;
		height: 1612px;
	}

	.aboutMeDetails {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1541px;

		.aboutMeImage {
			display: flex;
			height: 100%;
			& > img {
				display: block;
			}
		}
	}
	.reversed {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		width: 1541px;
		.aboutMeParagraph {
			width: 665px;
			height: 324px;
			& > p {
				display: inline-block;
				font-size: 38px;
				font-weight: 700;
				color: #ffffff;
				letter-spacing: -0.13rem;
				line-height: 2.5rem;
			}
		}
	}
}
